<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="expenseapp" version="3.0">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	
	<context-param>
		<param-name>jdbcDriverName</param-name>
		<param-value>com.mysql.jdbc.Driver</param-value>
	</context-param>

	<context-param>
		<param-name>jdbcUrl</param-name>
		<param-value>jdbc:mysql://localhost:3306/minslertest</param-value>
	</context-param>

	<context-param>
		<param-name>jdbcUser</param-name>
		<param-value>root</param-value>
	</context-param>

	<context-param>
		<param-name>jdbcPassword</param-name>
		<param-value>1234</param-value>
	</context-param>
	
	<context-param>
		<param-name>logFileProperties</param-name>
		<param-value>WEB-INF/log4j.properties</param-value>
	</context-param>

	<servlet>
		<servlet-name>receiverServlet</servlet-name>
		<servlet-class>by.minsler.controller.ReceiverController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>receiverServlet</servlet-name>
		<url-pattern>/receiver</url-pattern>
	</servlet-mapping>
	
	<listener>
		<display-name>Init DB connection</display-name>
		<listener-class>by.minsler.db.ConnectionInit</listener-class>
	</listener>
	
	<listener>
		<display-name>Init Log4j</display-name>
		<listener-class>by.minsler.log.Log4jInit</listener-class>
	</listener>

</web-app>

